In [122]:
import pandas as pd
import numpy as np
import math
import re
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
import surprise
import io 
from surprise import Reader, Dataset, SVD, evaluate
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split
from collections import defaultdict
from surprise.model_selection import KFold
from surprise import KNNBaseline
from surprise import Dataset
from surprise import get_dataset_dir
from surprise import KNNBasic

import warnings; warnings.simplefilter('ignore')
sns.set_style("ticks")

In [129]:
ratings = pd.read_csv(r'C:\Users\hiren\Desktop\DMProj\ratings_small.csv')
ratings.head(5)

   user_id  movie_id  rating   timestamp
0        1        31     2.5  1260759144
1        1      1029     3.0  1260759179
2        1      1061     3.0  1260759182
3        1      1129     2.0  1260759185
4        1      1172     4.0  1260759205

In [130]:
print("Null Values in Data : ", sum(ratings.isnull().any()))

Null Values in Data :  0

In [131]:

print("\nNumber of ratings :",ratings.shape[0])
print("Number No of Users   :", len(np.unique(ratings.user_id)))
print("Number No of Movie  :", len(np.unique(ratings.movie_id)))

Number of ratings : 100004
Number No of Users   : 671
Number No of Movie  : 9066

In [133]:
f = ['count','mean']

movie_summary = ratings.groupby('movie_id')['rating'].agg(f)
movie_summary.index = movie_summary.index.map(int)
movie_min = round(movie_summary['count'].quantile(0.8),0)
drop_movie_list = movie_summary[movie_summary['count'] < movie_min].index

print('Least Review count for a movie: {}'.format(movie_min))

df_cust_summary = ratings.groupby('user_id')['rating'].agg(f)
df_cust_summary.index = df_cust_summary.index.map(int)
cust_min = round(df_cust_summary['count'].quantile(0.8),0)
drop_cust_list = df_cust_summary[df_cust_summary['count'] < cust_min].index


print('Least Review count for a customer: {}'.format(cust_min))

Least Review count for a movie: 13.0
Least Review count for a customer: 202.0

In [134]:
print('Original Data: {}'.format(ratings.shape))
df = ratings[~ratings['movie_id'].isin(drop_movie_list)]
df = ratings[~ratings['user_id'].isin(drop_cust_list)]
print('After Trim Data: {}'.format(df.shape))

print(df.head())

Original Data: (100004, 4)
After Trim Data: (62916, 4)
     user_id  movie_id  rating  timestamp
147        4        10     4.0  949810645
148        4        34     5.0  949919556
149        4       112     5.0  949810582
150        4       141     5.0  949919681
151        4       153     4.0  949811346

In [90]:
df.head()

     user_id  movie_id  rating  timestamp
147        4        10     4.0  949810645
148        4        34     5.0  949919556
149        4       112     5.0  949810582
150        4       141     5.0  949919681
151        4       153     4.0  949811346

In [91]:
movie_data = pd.read_csv(r'C:\Users\hiren\Desktop\DMProj\movies_metadata.csv')

In [92]:
movie_data.head()

,adult,belongs_to_collection,budget,genres,homepage,movie_id,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,1,862,tt0114709,en,Toy Story,...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,2,8844,tt0113497,en,Jumanji,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,3,15602,tt0113228,en,Grumpier Old Men,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,4,31357,tt0114885,en,Waiting to Exhale,...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,5,11862,tt0113041,en,Father of the Bride Part II,...,02-10-1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [93]:
movie_data.set_index('movie_id', inplace = True)
print (movie_data.head(10))

          adult                              belongs_to_collection    budget  \
movie_id
1         FALSE  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
2         FALSE                                                NaN  65000000
3         FALSE  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
4         FALSE                                                NaN  16000000
5         FALSE  {'id': 96871, 'name': 'Father of the Bride Col...         0
6         FALSE                                                NaN  60000000
7         FALSE                                                NaN  58000000
8         FALSE                                                NaN         0
9         FALSE                                                NaN  35000000
10        FALSE  {'id': 645, 'name': 'James Bond Collection', '...  58000000

                                                     genres  \
movie_id
1         [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
2         [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3         [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
4         [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
5                            [{'id': 35, 'name': 'Comedy'}]
6         [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
7         [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
8         [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9         [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
10        [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...

                                              homepage     id    imdb_id  \
movie_id
1                 http://toystory.disney.com/toy-story    862  tt0114709
2                                                  NaN   8844  tt0113497
3                                                  NaN  15602  tt0113228
4                                                  NaN  31357  tt0114885
5                                                  NaN  11862  tt0113041
6                                                  NaN    949  tt0113277
7                                                  NaN  11860  tt0114319
8                                                  NaN  45325  tt0112302
9                                                  NaN   9091  tt0114576
10        http://www.mgm.com/view/movie/757/Goldeneye/    710  tt0113189

         original_language               original_title  \
movie_id
1                       en                    Toy Story
2                       en                      Jumanji
3                       en             Grumpier Old Men
4                       en            Waiting to Exhale
5                       en  Father of the Bride Part II
6                       en                         Heat
7                       en                      Sabrina
8                       en                 Tom and Huck
9                       en                 Sudden Death
10                      en                    GoldenEye

                                                   overview  ... release_date  \
movie_id                                                     ...
1         Led by Woody, Andy's toys live happily in his ...  ...   10/30/1995
2         When siblings Judy and Peter discover an encha...  ...   12/15/1995
3         A family wedding reignites the ancient feud be...  ...   12/22/1995
4         Cheated on, mistreated and stepped on, the wom...  ...   12/22/1995
5         Just when George Banks has recovered from his ...  ...   02-10-1995
6         Obsessive master thief, Neil McCauley leads a ...  ...   12/15/1995
7         An ugly duckling having undergone a remarkable...  ...   12/15/1995
8         A mischievous young boy, Tom Sawyer, witnesses...  ...   12/22/1995
9         International action superstar Jean Claude Van...  ...   12/22/1995
10        James Bond must unmask the mysterious head of ...  ...   11/16/1995

              revenue runtime  \
movie_id
1         373554033.0    81.0
2         262797249.0   104.0
3                 0.0   101.0
4          81452156.0   127.0
5          76578911.0   106.0
6         187436818.0   170.0
7                 0.0   127.0
8                 0.0    97.0
9          64350171.0   106.0
10        352194034.0   130.0

                                           spoken_languages    status  \
movie_id
1                  [{'iso_639_1': 'en', 'name': 'English'}]  Released
2         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
3                  [{'iso_639_1': 'en', 'name': 'English'}]  Released
4                  [{'iso_639_1': 'en', 'name': 'English'}]  Released
5                  [{'iso_639_1': 'en', 'name': 'English'}]  Released
6         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
7         [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
8         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
9                  [{'iso_639_1': 'en', 'name': 'English'}]  Released
10        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released

                                                    tagline  \
movie_id
1                                                       NaN
2                 Roll the dice and unleash the excitement!
3         Still Yelling. Still Fighting. Still Ready for...
4         Friends are the people who let you be yourself...
5         Just When His World Is Back To Normal... He's ...
6                                  A Los Angeles Crime Saga
7         You are cordially invited to the most surprisi...
8                                    The Original Bad Boys.
9                                Terror goes into overtime.
10                     No limits. No fears. No substitutes.

                                title  video vote_average vote_count
movie_id
1                           Toy Story  False          7.7     5415.0
2                             Jumanji  False          6.9     2413.0
3                    Grumpier Old Men  False          6.5       92.0
4                   Waiting to Exhale  False          6.1       34.0
5         Father of the Bride Part II  False          5.7      173.0
6                                Heat  False          7.7     1886.0
7                             Sabrina  False          6.2      141.0
8                        Tom and Huck  False          5.4       45.0
9                        Sudden Death  False          5.5      174.0
10                          GoldenEye  False          6.6     1194.0

[10 rows x 24 columns]

In [94]:
reader = Reader()

data = Dataset.load_from_df(df[['user_id', 'movie_id', 'rating']], reader)
data.split(n_folds=4)

evaluate(SVD(), data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.8917
MAE:  0.6886
------------
Fold 2
RMSE: 0.8942
MAE:  0.6940
------------
Fold 3
RMSE: 0.8837
MAE:  0.6827
------------
Fold 4
RMSE: 0.8925
MAE:  0.6911
------------
------------
Mean RMSE: 0.8905
Mean MAE : 0.6891
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8917186257618013,
                             0.8942394341125257,
                             0.8836623441522722,
                             0.8924625537448342],
                            'mae': [0.6885654407331936,
                             0.6939730185570748,
                             0.682742241971056,
                             0.6911201870938488]})

In [95]:
n = 4
df_n = df[(df['user_id'] == n) & (df['rating'] >4)]
df_n = df_n.set_index('movie_id')
nm = movie_data['title']
df_n = df_n.join(nm)
print(df_n)

          user_id  rating  timestamp                            title
movie_id
34              4     5.0  949919556                             Babe
112             4     5.0  949810582              Rumble in the Bronx
141             4     5.0  949919681                     The Birdcage
260             4     5.0  949779042                     Little Women
296             4     5.0  949895708                          Panther
349             4     5.0  949810582                       The Client
356             4     5.0  949919763      Four Weddings and a Funeral
357             4     5.0  949919681                  Higher Learning
364             4     5.0  949949538                    Little Buddha
480             4     5.0  949810582                       Kalifornia
541             4     5.0  949779091                       Son in Law
588             4     5.0  949949486       Terminator 2: Judgment Day
589             4     5.0  949919938               Dances with Wolves
594             4     5.0  949949538             Beauty and the Beast
596             4     5.0  949949638                     Pretty Woman
616             4     5.0  949949444                         Two Much
858             4     5.0  949779022                      Kansas City
903             4     5.0  949919189               The Maltese Falcon
913             4     5.0  949919247                     Citizen Kane
919             4     5.0  949949396            Foreign Correspondent
1022            4     5.0  949949638              Alice in Wonderland
1028            4     5.0  949949638                 Unhook the Stars
1030            4     5.0  949896377                 The Secret Agent
1031            4     5.0  949896377                   Secrets & Lies
1032            4     5.0  949949538               That Thing You Do!
1033            4     5.0  949949638  To Gillian on Her 37th Birthday
1036            4     5.0  949896244                  Beautiful Thing
1073            4     5.0  949919372                 Bonnie and Clyde
1079            4     5.0  949811523                   Reservoir Dogs
1089            4     5.0  949895732                A Christmas Carol
...           ...     ...        ...                              ...
2140            4     5.0  949896070               Return to Paradise
2144            4     5.0  949811603               Wrongfully Accused
2161            4     5.0  949896070                     Stage Fright
2174            4     5.0  949896070                  Under Capricorn
2194            4     5.0  949918764                      The Manxman
2268            4     5.0  949895772             What Dreams May Come
2289            4     5.0  949919556                        Happiness
2406            4     5.0  949918994                       Hurlyburly
2454            4     5.0  949982274             The Day of the Beast
2467            4     5.0  949918875              Blast from the Past
2628            4     5.0  949810582           It Came from Hollywood
2640            4     5.0  949810261                     Notting Hill
2716            4     5.0  949811523           Little Shop of Horrors
2723            4     5.0  949810582               The Bedroom Window
2788            4     5.0  949919399                    Iron Eagle IV
2791            4     5.0  949811490                  Male and Female
2797            4     5.0  949896070             The Astronaut's Wife
2804            4     5.0  949811738          The Very Thought of You
2872            4     5.0  949896114                       Psycho III
2877            4     5.0  949896377                   Boys Don't Cry
2918            4     5.0  949811559                           Dr. No
2968            4     5.0  949896070               Man Of The Century
2987            4     5.0  949918807                      Re-Animator
2991            4     5.0  949810261                      The General
3034            4     5.0  949949444                        Ten Benny
3040            4     5.0  949919419                Stand and Deliver
3060            4     5.0  949919656                        Kagemusha
3108            4     5.0  949919738              Tarzan the Fearless
3251            4     5.0  949918970             Minnie and Moskowitz
3265            4     5.0  949895732      With Byrd at the South Pole

[119 rows x 4 columns]

In [96]:
reader = Reader()
user_n = movie_data.copy()
user_n = user_n.reset_index()
svd = SVD()
data = Dataset.load_from_df(df[['user_id', 'movie_id', 'rating']], reader)

trainset = data.build_full_trainset()
model = svd.train(trainset)

In [97]:
user_n['Estimate_Score'] = df['movie_id'].apply(lambda x: svd.predict(n, x).est)

user_n = user_n.sort_values('Estimate_Score', ascending=False)
print(user_n.head(10))

       movie_id  adult belongs_to_collection   budget  \
22445    107106  FALSE                   NaN        0
5193       5289  FALSE                   NaN        0
37157    153426  FALSE                   NaN        0
37161    153434  FALSE                   NaN        0
26391    121366  FALSE                   NaN        0
26402    121409  FALSE                   NaN        0
42169    167360  FALSE                   NaN  5000000
18777     93136  FALSE                   NaN        0
10783     42952  FALSE                   NaN        0
15362     78105  FALSE                   NaN        0

                                                  genres  \
22445                     [{'id': 35, 'name': 'Comedy'}]
5193                       [{'id': 18, 'name': 'Drama'}]
37157  [{'id': 16, 'name': 'Animation'}, {'id': 80, '...
37161  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
26391  [{'id': 27, 'name': 'Horror'}, {'id': 10769, '...
26402                      [{'id': 18, 'name': 'Drama'}]
42169  [{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...
18777  [{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...
10783  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
15362  [{'id': 36, 'name': 'History'}, {'id': 28, 'na...

                                  homepage      id    imdb_id  \
22445  http://www.ausgerechnetsibirien.de/  107445  tt1833843
5193                                   NaN   52717  tt0181912
37157                                  NaN  369366  tt4172096
37161                                  NaN   71496  tt0404337
26391                                  NaN   47003  tt0061557
26402                                  NaN   65496  tt1570970
42169           http://www.getoutfilm.com/  419430  tt5052448
18777                                  NaN  158068  tt0063822
10783                                  NaN   77291  tt0183613
15362                                  NaN   38027  tt0073349

      original_language         original_title  ...      revenue runtime  \
22445                de  Ausgerechnet Sibirien  ...          0.0   100.0
5193                 fr       Éloge de l'amour  ...          0.0    97.0
37157                en    Last Day of Freedom  ...          0.0    32.0
37161                fr  Le festin de la mante  ...          0.0     0.0
26391                en        The Deadly Bees  ...          0.0    83.0
26402                fr      Mes chères études  ...          0.0   101.0
42169                en                Get Out  ...  252434250.0   104.0
18777                ja         連合艦隊司令長官 山本五十六  ...          0.0     0.0
10783                pt                  Orfeu  ...          0.0   110.0
15362                en               Mandingo  ...          0.0   127.0

                                        spoken_languages    status  \
22445  [{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...  Released
5193           [{'iso_639_1': 'fr', 'name': 'Français'}]   Rumored
37157                                                 []  Released
37161          [{'iso_639_1': 'fr', 'name': 'Français'}]  Released
26391           [{'iso_639_1': 'en', 'name': 'English'}]  Released
26402  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
42169           [{'iso_639_1': 'en', 'name': 'English'}]  Released
18777               [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
10783         [{'iso_639_1': 'pt', 'name': 'Português'}]  Released
15362           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
22445                                                NaN
5193                                                 NaN
37157                                                NaN
37161                                                NaN
26391                                                NaN
26402                                                NaN
42169  Just because you're invited, doesn't mean you'...
18777                                                NaN
10783                                                NaN
15362  Expect The Savage. The Sensual. The Shocking. ...

                       title  video  vote_average vote_count Estimate_Score
22445        Lost in Siberia  False           7.0        2.0            5.0
5193       In Praise of Love  False           6.7        8.0            5.0
37157    Last Day of Freedom  False           7.3        3.0            5.0
37161  Le festin de la mante  False           5.3        3.0            5.0
26391        The Deadly Bees  False           5.0        6.0            5.0
26402       Student Services  False           4.4       50.0            5.0
42169                Get Out  False           7.2     2978.0            5.0
18777       Admiral Yamamoto  False           8.8        2.0            5.0
10783                  Orfeu  False           4.9        8.0            5.0
15362               Mandingo  False           6.0       22.0            5.0

[10 rows x 26 columns]

In [98]:
trainset, testset = train_test_split(data, test_size=.25)

svd.fit(trainset)
predictions = svd.test(testset)

In [99]:
print(accuracy.rmse(predictions))
print(accuracy.mae(predictions))

RMSE: 0.8964
0.8963609259523336
MAE:  0.6945
0.6944733041873032

In [104]:
def get_top_n(predictions, n=10):

    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

top_n = get_top_n(predictions, n=10)

for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

624 [1213, 58559, 4993, 296, 858, 106920, 1265, 2918, 1193, 1214]
574 [858, 296, 6016, 2959, 2571, 4226, 1196, 4011, 1704, 2716]
577 [4993, 2571, 1222, 541, 593, 8961, 590, 4027, 110, 1282]
452 [260, 1247, 904, 1267, 750, 899, 1266, 2973, 1206, 3088]
652 [2318, 588, 2268, 628, 2096, 6333, 3952, 84152, 1845, 1265]
240 [608, 318, 593, 898, 1617, 1207, 527, 1719, 7153, 8665]
242 [923, 1207, 608, 296, 1213, 593, 903, 1252, 898, 2289]
346 [1073, 8961, 1036, 44191, 2797, 3175, 8874, 1243, 2762, 5040]
285 [1136, 858, 2804, 1196, 1197, 2005, 1089, 2395, 2918, 968]
596 [608, 318, 47, 1213, 1219, 953, 541, 50, 1617, 2028]
56 [1954, 1213, 50, 778, 2000, 80463, 3034, 1208, 4993, 2959]
564 [858, 1198, 1258, 2160, 1079, 608, 1272, 260, 175, 924]
423 [608, 1206, 82459, 4993, 1258, 1213, 4406, 2144, 3168, 55820]
213 [7153, 6539, 356, 5621, 35957, 8368, 97752, 59315, 1032, 13]
353 [2959, 2858, 908, 2542, 1210, 1201, 47, 589, 1387, 4993]
514 [47, 908, 296, 1196, 1193, 1213, 1288, 1258, 1207, 293]
430 [296, 608, 293, 1222, 1172, 778, 2858, 2997, 235, 2762]
287 [4306, 1228, 1198, 2846, 3996, 5418, 8961, 588, 33794, 38038]
380 [858, 7361, 296, 318, 2571, 2064, 4226, 1136, 2542, 33794]
232 [1394, 2871, 1259, 903, 1221, 1210, 1610, 1136, 2064, 1233]
402 [858, 1196, 5618, 1210, 908, 1270, 4995, 34405, 6565, 79702]
518 [858, 260, 912, 1968, 2804, 1222, 1196, 899, 2020, 2396]
615 [858, 7153, 593, 1213, 6807, 47, 1198, 49530, 1079, 1214]
405 [858, 1221, 1250, 356, 8665, 1292, 3897, 2501, 1580, 2355]
268 [608, 593, 589, 293, 1197, 1252, 2313, 79132, 1288, 2858]
125 [4226, 903, 1234, 1197, 111, 49272, 318, 5989, 5377, 1732]
205 [6539, 1148, 1198, 68954, 6333, 59315, 2762, 54259, 96079, 260]
509 [260, 912, 4226, 47, 1210, 608, 1247, 1198, 111, 6711]
19 [1089, 1252, 1221, 1225, 1207, 293, 1228, 1267, 1247, 1214]
299 [1206, 608, 7361, 47, 1704, 2291, 68157, 3052, 3435, 922]
384 [260, 8665, 2997, 1214, 54286, 2028, 5952, 1270, 54997, 778]
157 [4973, 7361, 55820, 4993, 6539, 4011, 58559, 88129, 50, 1258]
544 [858, 527, 6016, 3578, 750, 1233, 2716, 70286, 106920, 79132]
134 [2959, 110, 7153, 260, 8961, 1374, 2571, 2289, 1247, 8950]
597 [923, 1197, 1193, 2076, 589, 1247, 903, 2761, 1079, 356]
102 [296, 1221, 923, 905, 47, 1228, 1197, 1953, 778, 1361]
105 [1221, 1222, 923, 1089, 260, 1198, 1136, 497, 5989, 4235]
608 [1221, 527, 904, 541, 2858, 589, 3578, 1259, 2194, 2395]
243 [2571, 593, 1210, 5952, 527, 1219, 2997, 750, 6539, 588]
547 [1233, 922, 2318, 79132, 3578, 923, 1196, 111, 908, 1252]
306 [1500, 953, 899, 1247, 608, 527, 589, 1197, 2973, 1230]
152 [1704, 4226, 778, 58559, 1193, 49530, 81834, 49272, 1196, 70286]
150 [2571, 1210, 2997, 589, 1704, 457, 8874, 2580, 44199, 2114]
130 [1196, 235, 318, 4226, 2858, 608, 858, 1199, 1222, 1221]
439 [260, 541, 1079, 1307, 1210, 3317, 2366, 920, 924, 2141]
587 [1252, 899, 318, 928, 6539, 1136, 1704, 858, 1254, 1089]
562 [858, 778, 1704, 50, 3578, 4226, 1198, 1500, 1291, 6539]
664 [260, 1221, 5618, 8961, 1136, 58559, 1036, 1213, 50, 7361]
466 [296, 1210, 1197, 1203, 2005, 1079, 953, 223, 246, 2739]
73 [47, 2571, 296, 1252, 1213, 1060, 1193, 2318, 70286, 1259]
580 [912, 1204, 903, 1197, 1252, 913, 111, 1136, 318, 2289]
605 [1213, 1196, 904, 926, 953, 1136, 1704, 1673, 2797, 2125]
119 [858, 318, 47, 593, 3363, 1259, 913, 2664, 1206, 2542]
475 [1221, 296, 1387, 112138, 2959, 48516, 79132, 85774, 5952, 68358]
561 [296, 2571, 1197, 1270, 1198, 260, 3000, 32587, 1282, 923]
480 [318, 81845, 5952, 56782, 589, 1270, 1954, 1097, 6539, 904]
665 [4226, 1206, 1090, 1196, 3578, 2858, 1210, 2005, 1704, 2846]
195 [858, 908, 246, 111, 1304, 235, 3035, 3341, 1201, 1208]
431 [1387, 2959, 4011, 7153, 1961, 1196, 2324, 928, 1247, 1270]
187 [46578, 296, 1968, 953, 8961, 1089, 6377, 44191, 1954, 2132]
472 [589, 905, 5995, 6787, 750, 3471, 1212, 1953, 2243, 908]
15 [912, 318, 1304, 2918, 1198, 6377, 3897, 1207, 1036, 3362]
292 [608, 7153, 47, 1625, 3949, 3578, 2571, 1500, 588, 1358]
270 [7361, 50, 2571, 87232, 70286, 1199, 1704, 99114, 4878, 93510]
30 [899, 1079, 541, 1, 2664, 4226, 1200, 1247, 2858, 1252]
294 [318, 908, 1197, 903, 926, 2571, 904, 1136, 899, 4027]
460 [318, 47, 899, 994, 1213, 293, 4011, 1704, 1245, 593]
358 [2762, 2243, 1272, 260, 1213, 2797, 1230, 913, 905, 1304]
382 [1230, 1225, 86882, 6539, 50872, 5952, 5989, 7153, 69844, 1073]
529 [1136, 898, 318, 1219, 3083, 1387, 951, 2300, 858, 2291]
648 [912, 778, 608, 1222, 3310, 6016, 1704, 5952, 4878, 1201]
48 [7153, 5952, 6539, 1222, 541, 4973, 46578, 2324, 4993, 56782]
23 [6539, 924, 1258, 913, 5995, 1233, 47, 31658, 1208, 2858]
522 [1278, 293, 50, 778, 58559, 3578, 1208, 5952, 106100, 63082]
355 [1221, 1196, 858, 2571, 1198, 1270, 4226, 7361, 260, 5952]
387 [318, 1196, 908, 1259, 348, 913, 1193, 940, 1304, 3730]
461 [593, 2858, 260, 527, 2194, 2028, 1222, 1207, 6539, 4993]
505 [318, 953, 260, 1136, 1196, 994, 913, 3435, 1387, 1269]
212 [858, 1089, 1136, 527, 903, 1204, 2020, 48516, 1080, 778]
220 [3435, 1258, 527, 608, 923, 1617, 3083, 2858, 3363, 595]
468 [912, 2395, 4993, 4226, 913, 1198, 898, 1254, 1148, 1233]
654 [1198, 260, 8961, 296, 608, 1089, 3476, 4993, 1266, 235]
442 [1198, 318, 1704, 8961, 2028, 2918, 49530, 589, 5669, 52435]
537 [923, 1252, 1136, 1230, 904, 1299, 1296, 497, 551, 261]
427 [1207, 46578, 910, 246, 6016, 55820, 4226, 2725, 1947, 3006]
311 [541, 899, 923, 318, 3996, 1617, 3104, 589, 296, 920]
247 [296, 356, 1291, 2797, 1968, 2762, 2490, 1265, 2915, 163]
176 [7153, 79132, 6016, 58559, 6539, 4306, 1035, 1682, 81845, 48738]
22 [4993, 260, 593, 6539, 1196, 1148, 32587, 5989, 4226, 33794]
607 [1197, 1136, 318, 1293, 50, 6874, 858, 293, 8961, 1148]
200 [7361, 296, 593, 3462, 46578, 1265, 8665, 1222, 36529, 63082]
388 [858, 608, 50, 1258, 1221, 2858, 912, 1210, 1213, 223]
77 [4011, 1136, 318, 2395, 1196, 2542, 593, 2700, 7438, 8874]
236 [1136, 913, 1222, 1230, 3462, 903, 2028, 4914, 3134, 1945]
313 [8961, 7361, 1258, 5952, 4226, 8665, 4993, 1201, 910, 4306]
177 [293, 1200, 1617, 1197, 163, 474, 319, 1968, 1488, 6]
463 [858, 1213, 1198, 4128, 1207, 1225, 4027, 3481, 1222, 4993]
408 [1089, 1252, 50, 1136, 1673, 1302, 778, 904, 541, 2580]
165 [318, 4226, 2232, 588, 919, 593, 1198, 3793, 47, 5669]
471 [1196, 593, 1200, 1214, 1387, 1222, 1210, 1262, 1333, 1080]
426 [1961, 33794, 47, 2571, 68157, 356, 46578, 7153, 593, 2028]
575 [1269, 608, 2804, 2132, 3504, 318, 1276, 1957, 3037, 1136]
239 [1060, 2690, 1968, 1500, 2716, 1220, 551, 1097, 539, 353]
262 [912, 1221, 1209, 1270, 3504, 2019, 1968, 1259, 4235, 527]
253 [593, 2858, 750, 6539, 8961, 337, 2005, 1210, 1221, 1242]
149 [68157, 4226, 1197, 63082, 46578, 54995, 70286, 4014, 3949, 2291]
407 [318, 2959, 4226, 7361, 50, 3083, 457, 1704, 6440, 8665]
501 [1136, 68157, 1213, 48516, 296, 318, 608, 2329, 1704, 44195]
457 [1060, 46578, 3481, 55290, 2463, 5060, 1203, 924, 778, 175]
17 [608, 4993, 2918, 5952, 4878, 8950, 3504, 1206, 6016, 913]
88 [608, 4973, 5995, 1293, 2858, 50872, 4993, 1278, 7153, 509]
598 [318, 296, 923, 1210, 260, 1225, 2395, 1242, 2716, 1968]
500 [4014, 2959, 1947, 3114, 5989, 59784, 4973, 595, 1246, 8366]
534 [318, 296, 50, 2571, 47, 1527, 2687, 1682, 69, 1732]
481 [1252, 858, 955, 1222, 54259, 903, 79132, 6539, 6016, 3504]
367 [608, 7361, 1270, 223, 2005, 2918, 6539, 969, 1387, 2028]
185 [1225, 1104, 750, 2797, 1193, 1214, 4886, 1210, 2716, 2599]
585 [1233, 750, 908, 260, 913, 1213, 1198, 1193, 527, 1228]
111 [4226, 47, 593, 4993, 1198, 541, 1089, 260, 3481, 1527]
128 [593, 527, 4886, 1393, 111, 628, 5954, 1028, 3555, 3114]
558 [1089, 1233, 1219, 1221, 1256, 2019, 903, 908, 1267, 969]
412 [318, 2959, 4019, 2028, 337, 1210, 3793, 1265, 2571, 377]
295 [1036, 1278, 3471, 2858, 2918, 2324, 595, 3448, 588, 589]
4 [1196, 431, 1200, 1214, 1073, 2064, 1259, 3034, 2788, 1278]
95 [968, 260, 223, 4993, 1210, 1214, 3578, 2762, 6, 1022]
199 [1213, 260, 47, 79132, 50, 2542, 589, 1625, 81932, 48516]
214 [912, 1196, 47, 1387, 1674, 1617, 111, 50, 745, 1199]
312 [1221, 923, 1222, 1060, 318, 363, 1299, 50, 589, 1097]
303 [2959, 1193, 5995, 2571, 593, 527, 1704, 4878, 79132, 1089]
345 [1252, 111, 1228, 1213, 260, 1259, 1193, 2329, 593, 1304]
373 [318, 2973, 2858, 1299, 260, 2797, 2313, 1214, 1079, 1954]
78 [3578, 4973, 7153, 1213, 3996, 47, 81834, 44555, 4308, 1704]
275 [1252, 5989, 608, 48516, 8961, 1060, 2571, 81932, 2542, 79132]
57 [1272, 1196, 1278, 1136, 1704, 1964, 1200, 1997, 1234, 1097]
394 [858, 1210, 608, 296, 58559, 1221, 4027, 50, 733, 39]

In [105]:
kf = KFold(n_splits=5)

def precision_recall_at_k(predictions, k=10, threshold=3.5):
    user_est_true = defaultdict(list)
    for uid, _, true_r, est, _ in predictions:
        user_est_true[uid].append((est, true_r))

    precisions = dict()
    recalls = dict()
    for uid, user_ratings in user_est_true.items():

        user_ratings.sort(key=lambda x: x[0], reverse=True)

        n_rel = sum((true_r >= threshold) for (_, true_r) in user_ratings)

        n_rec_k = sum((est >= threshold) for (est, _) in user_ratings[:k])

        n_rel_and_rec_k = sum(((true_r >= threshold) and (est >= threshold))
                              for (est, true_r) in user_ratings[:k])

        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 1

        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 1
    return precisions, recalls


for trainset, testset in kf.split(data):
    precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=4)

print("Precision:", sum(prec for prec in precisions.values()) / len(precisions))
print("Recall:", sum(rec for rec in recalls.values()) / len(recalls))

Precision: 0.8264197530864191
Recall: 0.06930278600694025

In [106]:
sim_options = {'title': 'pearson', 'user_based': False}
knn = KNNBasic(sim_options=sim_options)
knn.fit(trainset)
predictions = knn.test(testset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [107]:
print(accuracy.rmse(predictions))
print(accuracy.mae(predictions))

RMSE: 0.9222
0.9221863497180887
MAE:  0.7131
0.7130873182022549

In [108]:
movie_data = pd.read_csv(r'C:\Users\hiren\Desktop\DMProj\movies_metadata.csv')
neighbors = knn.get_neighbors(147, k=10)
neighbors
print('The 10 nearest neighbors of An Awfully Big Adventure are:')


for i in neighbors:
    for j in movie_data['movie_id']:
       if j== i:
            print(movie_data['title'][j])

The 10 nearest neighbors of An Awfully Big Adventure are:
Tom and Huck
Sense and Sensibility
Dead Man Walking
Mortal Kombat
Kicking and Screaming
Big Bully
The Crossing Guard
Antonia's Line
Once Upon a Time... When We Were Colored
Shopping

In [109]:
for trainset, testset in kf.split(data):
    precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=3.5)

print("Precision:", sum(prec for prec in precisions.values()) / len(precisions))
print("Recall:", sum(rec for rec in recalls.values()) / len(recalls))

Precision: 0.8703703703703701
Recall: 0.047204487515625296

In [135]:
sim_options = {'title': 'pearson_baseline', 'user_based': False}
bsl_options = {'method': 'sgd',
               'learning_rate': .005,
               }
knn_b = KNNBaseline(bsl_options=bsl_options, sim_options=sim_options)
knn_b.fit(trainset)
predictions_b = knn_b.test(testset)

Estimating biases using sgd...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [136]:
print(accuracy.rmse(predictions_b))
print(accuracy.mae(predictions_b))

RMSE: 0.8752
0.8751998569400411
MAE:  0.6744
0.6743533060452755

In [137]:
neighbors_b = knn_b.get_neighbors(147, k=10)
print()
print('The 10 nearest neighbors of An Awfully Big Adventure are:')


for i in neighbors_b:
    for j in movie_data['movie_id']:
        if j== i:
            print(movie_data['title'][j])

The 10 nearest neighbors of An Awfully Big Adventure are:
The Confessional
Last Summer in the Hamptons
Anne Frank Remembered
Belle de Jour
Canadian Bacon
The Doom Generation
Burnt by the Sun
French Kiss
The Sum of Us
S.F.W.

In [138]:
for trainset, testset in kf.split(data):
    precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=3.5)

    # Precision and recall can then be averaged over all users
print("Precision:", sum(prec for prec in precisions.values()) / len(precisions))
print("Recall:", sum(rec for rec in recalls.values()) / len(recalls))

Precision: 0.8461728395061723
Recall: 0.0801699030061216